.header-logo {
  color: $primaryColor;
  font-size: 26px;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  @include fontStyle(26px, 1.2, 0.03em);

  &--web {
    color: $hoverColor;
  }
}
