.benefits {
  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__list {
    @extend %list;
    display: flex;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    color: $secondColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.benefits__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(3)::before {
  background-image: url(../images/computer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}
