.hero {
  max-width: 1600px;
  height: 600px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    max-width: 696px;
    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    color: #ffffff;
    background-color: $hoverColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition: background-color 250ms $timingFunction;

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

.hero--placing {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero__title--placing {
  margin-left: auto;
  margin-right: auto;
}

.hero__button--placing {
  padding: 10px 32px;
  margin-top: 30px;
}
