.samples {
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    @extend %list;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.samples__item {
  position: relative;
}

.samples__text {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.samples__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
